*{

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: antiquewhite;

}
.gallery{
width: 100px;
height: 100px;
margin: 10px;




}
#gallery{


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;

}
#button{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: center;


}
    

    
.nav ul li {
    display: inline;
    
    

}
#navbar{
    display: flex;
  border: solid 2px black;
  background-color: chocolate;
  justify-content: space-around;
}
ul li {
    display: inline;
    

}
ul li a{
    text-decoration: none;
    padding:px ;
}






    

    




 
    

